.button {
    background-color: #ffa04e; /* Green */
    border: black solid 2px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}