<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body style="text-align: center">

<div style="background-color: #ffdc77; border: black solid 2px; text-align: center; margin: 20px; padding: 10px; width: 400px; display: inline-block;">
    <h2 style="font-family: 'Arial Black'; font-weight: bold">Nowy lek:</h2>
    <div style=" text-align: left; display: inline-block; padding: 10px; background-color: #ffa04e; margin: 10px; height: 400px; width: 300px">

        <div style="text-align: center">
            <form action="#" th:action="@{/admin/add-medicine}" th:object="${createMedicineDto}" method="post">
                <label>Nazwa:</label>
                <br/>
                <input th:type="text" th:field="*{name}"/>
                <br/>
                <br/>
                <label>Substancja czynna</label>
                <br/>
                <select name="substance" th:field="*{substance}">
                    <option th:each="substance : ${T(pl.klaudia.feverdefeater.model.Substance).values()}"
                            th:value="${substance}" th:text="${substance.getDisplayName()}"></option>
                </select>
                <br/>
                <br/>
                <label>Ilość substacji czynnej w mg w 1 ml leku:</label>
                <br/>
                <input th:type="text" th:field="*{mgPerOneMl}">
                <br/>
                <br/>
                <input type="submit" value="Dodaj lek"/>
            </form>
            <br/>
            <br/>
        </div>

    </div>
</div>
<br/>
<a class="button" th:href="@{/admin/medicine-list}">Powrót</a>
</body>
</html>