<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

</head>
<body>
<div style="display: grid; width: 200px">
    <a class="button" th:href="@{users-list}">Lista użytkowników</a>
</div>
<div style="display: grid; width: 200px">
    <a class="button" th:href="@{medicine-list}">Lista leków</a>
</div>

<div style="display: grid; width: 200px">
    <a class="button" th:href="@{tookMedicine-list}">Lista wszystkich podań leków</a>
</div>
<br/>
<br/>
<div style="display: grid; width: 200px">
    <a class="button" th:href="@{/homepage}">Powrot do strony głównej</a>
</div>



</body>
</html>