<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" type="text/css" th:href="@{styles.css}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

</head>
<body style="text-align: center">
<div>

<img src="logo.png" height="172" width="400" style="margin-bottom: 10px"/>
</div>
<div style="position: relative; bottom: 150px; left: 450px">
    <a sec:authorize="!isAuthenticated()" class="button" href="login">Zaloguj</a>
    <a sec:authorize="isAuthenticated()" class="button" href="logout">Wyloguj</a>
    <a sec:authorize="!isAuthenticated()" class="button" href="/register">Załóż konto</a>
    <a sec:authorize="hasRole('ROLE_USER')" class="button" href="my-account">Moje konto</a>
    <a sec:authorize="hasRole('ROLE_ADMIN')" class="button" href="admin/admin-panel">Panel admina</a>
</div>


<div style="background-color: #ffdc77; border: black solid 2px; text-align: center; margin: 20px; padding: 10px; width: 400px; display: inline-block;">
    <h2 style="font-family: 'Arial Black'; font-weight: bold">Oblicz dawke syropu przeciwgorączkowego</h2>
    <div style=" text-align: left; display: inline-block; padding: 10px; background-color: #ffa04e; margin: 10px; height: 400px; width: 300px">

        <div style="text-align: center">
            <form action="#" th:action="@{/homepage}" th:object="${child}" method="post">
                <label for="childsWeight">Waga dziecka (w kg):</label>
                <input th:type="text" th:field="*{weight}" id="childsWeight"/>
                <br/>
                <label for="selectMedicine">Lek:</label>
                <br/>
                <select th:field="*{medicineId}">
                    <option th:each="medicine: ${medicineList}" id="selectMedicine" th:value="${medicine.id}"><span
                            th:text="${medicine.getName()} "></span>
                    </option>
                </select>
                <br/>
                <br/>

                <input type="submit" value="Oblicz"/>
            </form>
            <br/>
            <br/>
        </div>

        <div th:if="${medicineDoseResult}">

            <div><h4>Jednorazowo dawka leku:</h4>
                <span th:text="${medicineDoseResult.singleMedicineDoseMg} + 'mg'"></span>
                /
                <span th:text="${medicineDoseResult.singleMedicineDoseMl} + 'ml'"></span>
            </div>
            <div><h4>Maksymalna dobowa ilość dawek:</h4>
                <p th:text="${medicineDoseResult.numberOfDailyDoses}"></p>

            </div>
            <div><h4>Dobowa dawka leku:</h4></div>
            <span th:text="${medicineDoseResult.dailySubstanceDoseMg} + 'mg'"></span>
            /
            <span th:text="${medicineDoseResult.dailyMedicineDoseMl} + 'ml'"></span>
        </div>
    </div>

</div>

<div style="background-color: #ffdc77; border: black solid 2px; text-align: center; display: inline-block" th:each="takeMedicineViewDto : ${takeMedicineViewDtoList}">
    <div th:if="${takeMedicineViewDto.timeOfNextDose.isAfter(#temporals.createNow())}">
            <div><h4>Podano lek o:</h4>
                <p th:text="${takeMedicineViewDto.getTimeWhenTookMedicine().format(formatter)}"></p>
            </div>
            <div><h4>Kolejna dawka możliwa o:</h4>
                <p id="from" th:text="${takeMedicineViewDto.timeOfNextDose.format(formatter)}"></p>
            </div>
            <div><h4>Pozostaly czas do kolejnej dawki:</h4>
            <p id="result" th:text="${takeMedicineViewDto.timeLeftToNextDose}"></p>
            </div>
    </div>

</div>

<div th:if="${medicineApplication} != null">
    <form action="#" th:action="@{/apply-medicine}" th:object="${medicineApplication}" method="post">
        <input th:field="*{numberOfDailyDoses}" type="hidden">
        <input th:field="*{dailySubstanceDoseMg}" type="hidden">
        <input th:field="*{dailyMedicineDoseMl}" type="hidden">
        <input th:field="*{singleMedicineDoseMg}" type="hidden">
        <input th:field="*{medicineId}" type="hidden">
        <input th:field="*{weight}" type="hidden">
        <input th:field="*{singleMedicineDoseMl}" type="hidden">
        <input class="button" type="submit" value="Podaję lek"/>
    </form>
</div>

<div th:if="${medicineDoseResult}">
    <div th:if="${medicineDoseResult.substance.name() == 'IBUPROFEN'}">
        <button class="button" id="timeButton">Podaj lek czas JS</button>
        <p id="timer"></p>
    </div>

    <div th:if="${medicineDoseResult.substance.name() == 'PARACETAMOL'}">
        <button class="button" id="timeButton1">Podaj lek czas JS</button>
        <p id="timer1"></p>
    </div>
</div>

<script>
    function convertSeconds(secs){
        secs = Math.round(secs);
        let hours = Math.floor(secs / (60 * 60));

        let divisor_for_minutes = secs % (60 * 60);
        let minutes = Math.floor(divisor_for_minutes / 60);

        let divisor_for_seconds = divisor_for_minutes % 60;
        let seconds = Math.ceil(divisor_for_seconds);

        if(hours < 10) { hours = '0' + hours}
        if(minutes < 10) { minutes = '0' + minutes}
        if(seconds < 10) { seconds = '0' + seconds}
        return hours + ':' + minutes + ':' + seconds;
    }
    </script>
<script>
    let timeButton = document.querySelector("#timeButton"),
        timer = document.querySelector("#timer");
    let counter = 0;
    let timeLeft = 21600;

    timer.textContent = convertSeconds(timeLeft -counter);


    let showTimer = function () {
        function timeIt() {

            counter++;
            timer.textContent = convertSeconds(timeLeft -counter);
            if(counter == timeLeft) {
                clearInterval(interval);
            }
        }

        setInterval(timeIt, 1000);
    };


    timeButton.addEventListener("click", showTimer);
    </script>
<script>

    let timeButton1 = document.querySelector("#timeButton1"),
        timer1 = document.querySelector("#timer1");
    let counter1 = 0;
    let timeLeft1 = 14400;

    timer1.textContent = convertSeconds(timeLeft1 -counter1);


    let showTimer1 = function () {

        let interval = setInterval(timeIt1, 1000);

        function timeIt1() {
            counter1++;
            timer1.textContent = convertSeconds(timeLeft1 -counter1);
            if(counter1 == timeLeft1) {
                clearInterval(interval);
            }

        }
    };


    timeButton1.addEventListener("click", showTimer1);

</script>
<div style="height: auto;width: auto"><p>Sugerowane kalkulacje pełnią rolę informacyjną i
    nie stanowią porady medycznej ani zalecenia co do
    dawkowania leków.</p></div>

</body>

</html>