<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <style>
        td {
            border-collapse: collapse;
            border: black solid 2px;
        }
        tr {
            border-collapse: collapse;
            border: black solid 2px;
        }
        th {
            border-collapse: collapse;
            border: black solid 2px;
            color: red;
        }
    </style>

</head>
<body style="text-align: center">

<div class="container">
    <div>
        <caption><h4>Wszyscy użytkownicy</h4></caption>
    </div>
    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>Nazwa</th>
            <th>Substancja czynna</th>
            <th>mg/ 1ml</th>
        </tr>
        <tr th:each="medicineDto : ${medicineList}">
                <td th:text="${medicineDto.id}"></td>
                <td th:text="${medicineDto.name}"></td>
                <td th:text="${medicineDto.substance}"></td>
                <td th:text="${medicineDto.mgPerOneMl}"></td>
                <td  class="button btn btn-sm" style="background-color: #ffa04e; border-color: black; border-radius: 0"><a th:href="'/admin/delete-medicine/' + ${medicineDto.id}">Usuń</a></td>
                <td  class="button btn btn-sm" style="background-color: #ffa04e; border-color: black; border-radius: 0"><a th:href="'/admin/edit-medicine/' + ${medicineDto.id}">Edytuj</a></td>
        </tr>
    </table>
</div>
<br/>
<br/>
<a  class="button btn btn-lg" style="background-color: #ffa04e; border-color: black; border-radius: 0" th:href="@{/admin/add-medicine-form}">Dodaj nowy lek</a>
<a  class="button btn btn-lg" style="background-color: #ffa04e; border-color: black; border-radius: 0" th:href="@{/admin/admin-panel}">Powrót</a>

</body>
</html>