<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{styles.css}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<div class="container">

    <div style="display: grid; width: 200px">
        <a class="button btn btn-lg" style="background-color: #ffa04e; border-color: black; border-radius: 0" href="user-details">Moje dane</a>
    </div>
    <div style="display: grid; width: 200px">
        <a class="button btn btn-lg" style="background-color: #ffa04e; border-color: black; border-radius: 0" href="change-password">Zmień hasło</a>
    </div>

    <div style="display: grid; width: 200px">
        <a class="button btn btn-lg" style="background-color: #ffa04e; border-color: black; border-radius: 0" href="my-took-medicine-list">Lista moich podań leków</a>
    </div>
    <br/>
    <br/>
    <div style="display: grid; width: 200px">
        <a class="button btn btn-lg" style="background-color: #ffa04e; border-color: black; border-radius: 0" th:href="@{homepage}">Powrot do strony głównej</a>
    </div>

</div>


</body>
</html>