<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <style>
        td {
            border-collapse: collapse;
            border: black solid 2px;
        }
        tr {
            border-collapse: collapse;
            border: black solid 2px;
        }
        th {
            border-collapse: collapse;
            border: black solid 2px;
            color: red;
        }
    </style>
</head>
<body>

<div class="container">
    <div>
        <caption><h4><span th:text="'Lista podań użytkownika: ' + ${user.getLogin()}"></span></h4></caption>
    </div>
    <table class="table table-striped">

        <tr>
            <th>ID</th>
            <th>Lek</th>
            <th>Czas podania</th>
            <th>Dawka</th>
        </tr>
        <tr th:each="tookMedicineDto : ${usersTookMedicineDtoList}">
            <td th:text="${tookMedicineDto.getId()}"></td>
            <td th:text="${tookMedicineDto.getMedicineName()}"></td>
            <td th:text="${tookMedicineDto.getTimeWhenTookMedicine().format(formatter)}"></td>
            <td th:text="${tookMedicineDto.getMedicineDoseMl()} + ' ml'"></td>



        </tr>
    </table>
    <br/>
    <br/>
    <a class="button btn btn-lg" style="background-color: #ffa04e; border-color: black; border-radius: 0" th:href="@{my-account}">Powrót</a>


</div>

</body>
</html>