<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{styles.css}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body style="text-align: center">

<div style="background-color: #ffdc77; border: black solid 2px; text-align: center; margin: 20px; padding: 10px; width: 400px; display: inline-block;">
    <h2 style="font-family: 'Arial Black'; font-weight: bold">Rejestracja</h2>
    <div style=" text-align: left; display: inline-block; padding: 10px; background-color: #ffa04e; margin: 10px; height: 400px; width: 300px">

        <div style="text-align: center">
            <form action="#" th:action="@{/register}" th:object="${createUserDto}" method="post">
                <div style="color: red" th:if="${#fields.hasErrors('login')}" th:errors="*{login}">

                </div>
                <label>Login:</label>
                <br/>
                <input th:type="text" th:field="*{login}"/>
                <br/>
                <br/>
                <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">

                </div>
                <div style="color: red" th:if="${#fields.hasErrors('repeatedPassword')}">
                    hasło się różni!

                </div>
                <label>Hasło:</label>
                <br/>
                <input th:type="password" th:field="*{password}">
                <br/>
                <br/>
                <label>Powtórz hasło:</label>
                <br/>
                <input th:type="password" th:field="*{repeatedPassword}">
                <br/>
                <br/>
                <input type="submit" value="Zarejestruj"/>
            </form>
            <br/>
            <br/>
        </div>

    </div>
</div>
</body>
</html>