<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{styles.css}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<h3><span th:text="'Użytkownik o loginie ' + ${createdUser.getLogin()} + ' został pomyślnie stworzony!'"></span></h3>
<br/>
<a class="button" th:href="@{/homepage}">Powrót do strony głownej</a>
</body>
</html>