<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{styles.css}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">


    <style>
        td {
            border-collapse: collapse;
            border: black solid 2px;
        }
        tr {
            border-collapse: collapse;
            border: black solid 2px;
        }
        th {
            border-collapse: collapse;
            border: black solid 2px;
            color: red;
        }
    </style>

</head>
<body>
<div class="container">

    <h4><span th:text="'Dane użytkownika ' + ${user.login} + ':'"></span></h4>
    <br/>
    <span th:text="'ID: ' + ${user.getId()}"></span>
    <br/>
    <span th:text="'Login: ' + ${user.getLogin()}"></span>
    <br/>
    <span th:text="'Data utworzenia konta: ' + ${user.getCreatedAt().format(formatter)}"></span>
    <span th:if="${user.getUpdatedAt()} != null" th:text="'Data ostatniej aktualizacji konta: ' + ${user.getUpdatedAt().format(formatter)}"></span>

    <br/>
    <br/>
    <a class="button btn btn-lg" style="background-color: #ffa04e; border-color: black; border-radius: 0" th:href="@{my-account}">Powrót</a>

</div>


</body>
</html>