<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body style="text-align: center">

<div style="background-color: #ffdc77; border: black solid 2px; text-align: center; margin: 20px; padding: 10px; width: 400px; display: inline-block;">
    <h2 style="font-family: 'Arial Black'; font-weight: bold"><span th:text="'Edycja użytkownika o id ' + ${userToBeEdited.getId()}"></span>:</h2>
    <div style=" text-align: left; display: inline-block; padding: 10px; background-color: #ffa04e; margin: 10px; height: 400px; width: 300px">

        <div style="text-align: center">
            <form action="#" th:action="@{/admin/edit-user}" th:object="${usersNewData}" method="post">
                <label>Login:</label>
                <br/>
                <input th:type="text" th:value="${userToBeEdited.getLogin()}" name="login"/>
                <br/>
                <br/>
                <label>Rola</label>
                <br/>
                <select name="role" th:field="*{role}">
                    <option th:value="'USER'">USER</option>
                    <option th:value="'ADMIN'">ADMIN</option>
                </select>
                <input type="hidden" th:value="${userToBeEdited.getId()}" name="id"/>
                <br/>
                <br/>
                <input type="submit" value="Aktualizuj dane"/>
            </form>
            <br/>
            <br/>
        </div>

    </div>
</div>
<br/>
<a class="button" th:href="@{/admin/users-list}">Powrót</a>
</body>
</html>