<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <style>
        td {
            border-collapse: collapse;
            border: black solid 2px;
        }
        tr {
            border-collapse: collapse;
            border: black solid 2px;
        }
        th {
            border-collapse: collapse;
            border: black solid 2px;
            color: red;
        }
    </style>

</head>
<body style="text-align: center">

<table>
    <caption><span th:text="'Lista podań użytkownika: ' + ${user.getLogin()}"></span></caption>
    <tr>
        <th>ID</th>
        <th>Lek</th>
        <th>Czas podania</th>
        <th>Dawka</th>

    </tr>
    <tr th:each="tookMedicine : ${usersTakeMedicineList}">
        <td th:text="${tookMedicine.getId()}"></td>
        <td th:text="${tookMedicine.getMedicineName()}"></td>
        <td th:text="${tookMedicine.getTimeWhenTookMedicine().format(formatter)}"></td>
        <td th:text="${tookMedicine.getMedicineDoseMl()} + ' ml'"></td>



    </tr>
</table>
<a class="button" th:href="@{/admin/users-list}">Powrót</a>
</body>
</html>