<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div style="text-align: center">

    <h4>Czy na pewno chcesz usunać poniższego użytkownika?</h4>
    <br/>
    <span th:text="'login:' + ${userToBeDeleted.getLogin()}"></span>
        <br/>
        <span th:text="'id:' + ${userToBeDeleted.getId()}"></span>
            <br/>
        <span th:text="'rola:' + ${userToBeDeleted.getRole()}"></span>

    <form action="#" th:action="@{/admin/delete-user}" th:object="${userToBeDeleted}" method="post">
        <input th:field="*{id}" type="hidden">
        <input class="button" type="submit" value="Usuń"/>
    </form>
        <br/>
                <a class="button" th:href="@{/admin/users-list}">Powrót</a>

</div>

</body>
</html>